
@font-face {
    font-family: 'Morion-Bold';
    src: url('../resources/fonts/Morion-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Morion-Light';
    src: url('../resources/fonts/Morion-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../resources/fonts/Inconsolata-Variable.ttf') format('truetype');
}


body {
    background: #11294d;
    background: radial-gradient(circle, rgba(17, 41, 77, 1) 0%, rgba(10, 21, 35, 1) 68%, rgba(6, 13, 20, 1) 100%);

    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: 'Inconsolata', sans-serif;
    font-weight: 100;
    color: #f1f0de;
    font-kerning: normal;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#motd {
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    color: #253c5e;
    font-kerning: normal;
    letter-spacing: 2px;
    margin: 30px;

    transition: filter 1s ease;
}
#motd #crafting-light {
    color: #314f7b;
}

#motd:hover {
    filter: blur(10px) saturate(2);
}



header {
    top: 0;
    text-align: center;
    height: 60px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    padding: 10px 30px;
}
header hr {
    width: 100%;
    border: 1px solid #1d2838;
}

#logo {
    height: 100%;
}

main {
    min-height: 90vh;
}



footer {
    background: black;
    text-align: center;
    min-height: 100px;
    padding: 10px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

#working-miracles {
    font-family: 'Morion-Bold', serif;
    letter-spacing: 0;
    font-size: 20px;
    text-align: center;
}
#working-miracles>* {
    margin: 0;
    padding: 0;
}
#working-miracles img {
    height: 60px;
}


#contact-info {
    text-align: right;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    line-height: 1.4em;
}