@font-face {
  font-family: "Morion-Bold";
  src: url("../resources/fonts/Morion-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Morion-Light";
  src: url("../resources/fonts/Morion-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("../resources/fonts/Inconsolata-Variable.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

body {
  background: #11294d;
  background: radial-gradient(circle, rgb(17, 41, 77) 0%, rgb(10, 21, 35) 68%, rgb(6, 13, 20) 100%);
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", sans-serif;
  font-weight: 100;
  color: #f1f0de;
  font-kerning: normal;
}

header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  min-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

header {
  top: 0;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  padding: 10px 30px;
}
header hr {
  width: 100%;
  border: 1px solid #1d2838;
}
header #logo {
  height: 100%;
}

footer {
  background: hsl(220, 10%, 3%);
  text-align: center;
  min-height: 100px;
  padding: 10px 30px;
}
footer #working-miracles {
  font-family: "Morion-Bold", serif;
  letter-spacing: 0;
  font-size: 20px;
  text-align: center;
}
footer #working-miracles > * {
  margin: 0;
  padding: 0;
}
footer #working-miracles img {
  height: 60px;
}
footer #contact-info {
  text-align: right;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  line-height: 1.4em;
}

#motd {
  transition: filter 1s ease;
  margin-bottom: 30px;
  display: flex;
}
@media screen and (min-width: 600px) {
  #motd br {
    display: none;
  }
}
#motd:hover {
  filter: blur(10px) saturate(2);
}
#motd h1 {
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  color: #253c5e;
  letter-spacing: 2px;
}
#motd h1 #crafting-light {
  color: #314f7b;
}

.gallery {
  display: grid;
  gap: 20px;
}
.gallery .item {
  position: relative;
  height: 200px;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .gallery .item {
    height: 300px;
  }
}
.gallery .item > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: hsl(220, 10%, 3%);
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 350ms ease, transform 200ms ease;
}
.gallery .item > div.main {
  z-index: 5;
  box-shadow: 0 5px 15px rgba(6.885, 7.395, 8.415, 0.5);
}
.gallery .item > div.main .content {
  background: radial-gradient(ellipse at bottom left, #060d14 0%, rgba(6, 13, 20, 0) 50%);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}
.gallery .item > div.main .content > * {
  padding: 0;
  margin: 0;
  transition: transform 200ms ease;
}
.gallery .item > div.main .content h2 {
  font-family: "Morion-Bold", "serif";
}
.gallery .item > div.copy1 {
  z-index: 2;
  filter: blur(4px) brightness(1.5);
  opacity: 0.3;
}
.gallery .item > div.copy2 {
  z-index: 1;
  filter: blur(25px) saturate(2) brightness(1.5);
  opacity: 0.3;
}
.gallery .item:hover > div {
  transform: translateY(-3px);
}
.gallery .item:hover > div.copy1 {
  opacity: 0.4;
}
.gallery .item:hover > div.copy2 {
  opacity: 0.4;
}
.gallery .item:hover > div .content * {
  transform: translateY(3px);
}
.gallery .item.arunas-magic > div {
  background-image: url("thumbnails/arunas-magic.webp");
  background-position: 0% 30%;
}
.gallery .item.mussum > div {
  background-image: url("thumbnails/mussum.jpg");
  background-position: 0% 30%;
}
.gallery .item.espirito-do-natal > div {
  background-image: url("thumbnails/espirito-do-natal.webp");
  background-position: 0% 50%;
}

/*# sourceMappingURL=style.css.map */
